.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  position: fixed;
  background-color: #6D214F;
  height: 68px;
  padding: 20px;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
}

